/* HEADER
*****************************************************************************/
.logo
{
   padding-top: 5px;
   padding-right: 8px;
}

/* HOME PAGE
*****************************************************************************/
#home-background
{
   margin-top: 0px;
	 /*background-image:url('../../assets/img/splash.jpg');*/
   background-image:url('../../assets/img/wires.jpg');
   /*background-image:url('../../assets/img/connections.jpg');*/
   /*background-image:url('../../assets/img/connections2.jpg');*/
   /*background-image:url('../../assets/img/connections3.jpg');*/
   background-size: 100% 100%;
   /*height: auto;*/
	 height: auto;
   max-width: 100%;
}

#scale-height
{
	height: 80vh;
}

#section-1
{
   padding-top: 60px;
   text-shadow: 4px 4px 4px black;
   width: 100%;
}

#section-2
{
   margin-top: 70px;
	/*text-shadow: 2px 2px 2px white;*/
   width: 100%;
}

#get-started
{
	margin-top: 10px;
	padding-top: 40px;
   padding-bottom: 40px;
   width: 100%;
}

#get-started-border
{
	 /*border: 1px solid #fff9c4;*/
	margin-left: 25px;
	margin-right: 25px;
}

#body-border
{
	margin-top: 50px;
}

#footer-border
{
	padding-top: 15px;
}

#footer-1
{
	padding-bottom: 60px;
}

.footer-body
{
	padding-right: 25px;
}

.text-border
{
	text-shadow: 2px 2px #37474f;
}

/* LOGIN - REGISTERATION
*****************************************************************************/
#bar
{
   margin-bottom: -2px
}

#preloader
{
   height: 150px;
   width: 150px;
}

#preloader-border
{
   margin-top: -200px;
   position: relative;
   right: 150px;
   bottom: -200px;   
}

.login-border
{
   margin-left: 25px;
   margin-right: 25px;
   margin-top: 25px;
}

img.logo2
{
   /*border: 3px solid #fbc02d;*/
   /*border-radius: 50%;*/
   width: 180px;
   height: 180px;
}

.register_adj
{
   margin-top: -20px;
   margin-right: -15px;
}

/* RESEARCH PROPERTIES
*****************************************************************************/
.forum-border
{
	border: 2px solid #bdbdbd;
}