/****************************************************************************/
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
/****************************************************************************/

/* HOME PAGE
*****************************************************************************/
#home-background
{
   margin-top: -32px;
   background-image:url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/V0TZGGJNLH.jpg');
   background-size: 100% 100%;
   height: 90vh;
}
#section-1
{
   padding-top: 60px;
}

/* LOGO PROPERTIES
*****************************************************************************/
#bar
{
   margin-bottom: -2px
}

#preloader
{
   height: 150px;
   width: 150px;
}

#preloader-border
{
   margin-top: -200px;
   position: relative;
   right: 150px;
   bottom: -200px;   
}

.login-border
{
   margin-left: 25px;
   margin-right: 25px;
   margin-top: 25px;
}

img.logo
{
   padding-top: 5px;
   padding-right: 8px;
}

img.logo2
{
   border-radius: 50%;
   width: 180px;
   height: 180px;
}

.register_adj
{
   margin-top: -20px;
   margin-right: -15px;
}

/* PROFILE PROPERTIES
*****************************************************************************/
img.responsive-img
{
   width: 100px;
   height: 100px;
}

img.image
{
   border-radius: 50%;
   border: 3px solid white;
   width: 160px;
   height: 160px;
}
.name
{
   padding-bottom: 25px;
}
.profile
{
    padding-top: 25px;
}
.account_info
{
   padding-left: 25px;
   padding-right: 25px;
}
.index-content
{
   margin-left: 25px;
   margin-right: 25px;
   margin-top: 25px;
   margin-bottom: 25px;
}
._link
{
	background: none;
	border: none;
	font-size: 1em;
	margin: 0;
	padding: 0;
   outline: none;
}

/* ICON PROPERTIES
*****************************************************************************/
.icon-border
{
   margin-top: -50px;
   padding-right: 15px;
}
.inner-border
{
   border: 1px solid;
}

/* RESEARCH PROPERTIES
*****************************************************************************/
.card-border
{
	border: 2px solid #cfd8dc;
}
.forum-border
{
	border: 2px solid #bdbdbd;
}


