/* FORM PROPERTIES
*****************************************************************************/

::-webkit-input-placeholder
{
   color: #000000;
   font-weight: bold;
}
:-moz-placeholder
{ /* older Firefox*/
   color: #000000;
   font-weight: bold;
}
::-moz-placeholder
{ /* Firefox 19+ */ 
   color: #000000;
   font-weight: bold;
} 
:-ms-input-placeholder
{ 
   color: #000000;
   font-weight: bold;
}